[Unit]
Description=CloudedBats WIRC-2026 Infrared/thermal cameras for bats 
After=network.target
### Before=nginx.service

[Service]
Restart=always
TimeoutStopSec=10s
User=wurb
WorkingDirectory=/home/wurb/wirc_2026
ExecStart=/home/wurb/wirc_2026/venv/bin/python3 /home/wurb/wirc_2026/wirc_main.py

[Install]
WantedBy=multi-user.target