<!DOCTYPE html>
<html data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WIRC-2026</title>

    <!-- Bulma stylesheets: https://bulma.io/ -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma.min.css') }}">
    <!-- JavaScript -->
    <script src="{{ url_for('static', path='js/main.js/?v=101') }}"></script>
    <script src="{{ url_for('static', path='js/camera.js/?v=101') }}"></script>
    <script src="{{ url_for('static', path='js/camera_client.js/?v=101') }}"></script>
    <script src="{{ url_for('static', path='js/preview.js/?v=101') }}"></script>
    <script src="{{ url_for('static', path='js/system.js/?v=101') }}"></script>
    <script src="{{ url_for('static', path='js/system_client.js/?v=101') }}"></script>
</head>

<body onLoad="fetchModules()">
    <section class="hero is-fullheight is-fullwidth">
        <div class="hero-head has-background-black">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item is-clickable">
                        <img src="{{ url_for('static', path='images/cloudedbats_logo.png') }}"
                            onclick="toggleModuleAbout()">
                    </div>
                    <p class="navbar-item p-0">
                        <span
                            class="is-clickable is-family-sans-serif has-text-weight-bold has-text-link is-size-6 mr-3"
                            onclick="toggleModuleAbout()">
                            WIRC-2026
                        </span>
                    </p>
                </div>
            </nav>
            <div class="container is-fluid mb-3">
                <div class="buttons is-centered">
                    <button id="selectCamAId" onclick="selectCamera('camera-a', 'Camera-A')"
                        class="button is-rounded is-size-7 is-inverted">Cam-A</button>
                    <button id="selectCamBId" onclick="selectCamera('camera-b', 'Camera-B')"
                        class="button is-rounded is-size-7">Cam-B</button>
                    <button id="selectCamCId" onclick="selectCamera('camera-c', 'Camera-C')"
                        class="button is-rounded is-size-7">Cam-C</button>
                    <button id="selectCamDId" onclick="selectCamera('camera-d', 'Camera-D')"
                        class="button is-rounded is-size-7">Cam-D</button>
                </div>
            </div>
        </div>

        <div class="hero-body has-background-grey m-0 p-0">
            <div class="container is-fluid p-2">
                <div id="heroBodyCameraId">
                    <p class="subtitle m-5">Loading...</p>
                </div>
                <div id="heroBodyAboutId">
                    <!-- <p class="subtitle m-5">Loading...</p> -->
                </div>
            </div>
        </div>

        <div class="hero-foot has-background-black">
            <nav class="tabs is-fullwidth">
                <ul>
                    <li>
                        <p class="is-clickable is-pulled-right m-2 mr-4" onclick="toggleModuleAbout()">About</>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</body>

</html>